{% extends 'base.html.twig' %}

{% block content %}
    <p>{{ techno.id }}</p>
    <p>{{ techno.nom }}</p>
    <a href="{{ path('update_techno', {id: techno.id})}}" >Modifier</a>
    <a href="{{ path('delete_techno', {id: techno.id})}}" >Supprimer</a>
{% endblock %}