{% extends 'base.html.twig' %}

{% block content %}

    <h2>Liste des technos</h2>

    <a href="{{ path('create_techno') }}" >Ajouter</a>

    {% for techno in techno %}
        <p>{{ techno.id }}</p>
        <p>{{ techno.nom }}</p>
        <a href="{{ path('show_techno', {id: techno.id})}}" >lien</a>
    {% endfor %}
{% endblock %}