<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aleksandar Milenkovic{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'includes/_header.html.twig' %}
            {% block content %}
                <a href="{{ path('techno') }}" >Technos</a>
            {% endblock %}
            {% include 'includes/_footer.html.twig' %}
        {% endblock %}
    </body>
</html>
