{% extends 'base.html.twig' %}

{% block content %}

    <h3>Projet n°{{ projet.id }}</h3>
    <h3>{{ projet.name }}</h3>
    <img src="{{ asset('uploads/projet/' ~ projet.screen) }}" alt="image">
    <br>
    <h4>Stack technique</h4>

    {% for technoProjet in technoProjet %}
        <li>{{ technoProjet.nom }}</li>
    {% endfor %}

{% endblock %}